/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden; 
}

p {
  line-height: 1.6em;
  color: hsl(273, 4%, 51%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', sans-serif;
}

.primary-btn {
  background: transparent;
  color: #d7d4d4;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 15px 0;
  padding: 10px 25px;
  text-transform: uppercase;
  border: 2px solid #d7d4d4;
  cursor: pointer;
}

.primary-btn:hover {
  color: #2c2640;
  background: #fffcff;
  border: 2px solid #fffcff;
}
