 .navigation-wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 130px;
     position: fixed;
     z-index: 1000000;
     width: 100%;
     height: 70px; 
     background: #fff;
     /* these property are effected by below div's 
     pattern */ 
 }

 
 .left-column {
    width: 20%;
 }
 
 .right-column {
     width: 80%;
 }

 .right-column > .nav-links-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
 } 

 .nav-links-wrapper > .nav-link {
     padding-right: 40px;
 }

 .nav-link a {
    font-size: 14px;
    font-weight: 700;
    color:
    hsl(273, 4%, 51%);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
 }

 .nav-links-wrapper > .nav-link  button {
    font-size: 14px;
    font-weight: 700;
    color: hsl(273, 4%, 51%);
    
    text-transform: uppercase;
    padding: 10px 25px;
    border: 2px solid hsl(270, 9%, 17%);
    width: 100%;
    display: block;
    background: transparent;
    letter-spacing: 0.1em;
 } 

 .hide {
    display:none;
 }

 .menu-logo, .close-icon {
    display:none;
 }


 @media only screen and (max-width: 980px) {
    .navigation-wrapper {
       padding: 30px 100px;
    }
 }

 @media screen and (max-width: 890px) {
    .navigation-wrapper {
       padding: 30px 15px;
    }

    .nav-links-wrapper > .nav-link {
       padding-right: 20px;
    }
 }

 @media screen and (max-width: 700px) {

   .left-column {
      width: 80%;
   }
   .menu-logo {
      display:block;
   }

   .right-column > .nav-links-wrapper {
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      text-align: center; 
   }
  
   .right-column {
      position: absolute;
      top: 109px;
      width: 100%;
      height: 200px;
      background: #2b272f;
      z-index: 20000;
     /* overflow-y: scroll; */
      display: none;
   }
 }